# Configuración de la base de datos
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=
NODE_ENV=

# Configuración del servidor
PORT=
PORT_MAIN_SERVER=
PORT_CONTROL_SERVER=
NODE_ENV=

# Secreto para JWT
JWT_SECRET=

# Emails de administradores (separados por comas, sin espacios)
ADMIN_EMAILS=

# Otras configuraciones (ajusta según tus necesidades)
CORS_ORIGIN=
